<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gvccracing.android.tttimer"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:icon="@drawable/gvcc"
        android:label="@string/club_app_name" 
        android:theme="@style/CustomTheme">
        <activity
            android:label="@string/app_name"
            android:name=".TTTimerTabsActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--         <activity -->
<!--             android:label="@string/usac_app_name" -->
<!--             android:name=".USACOfficialActivity" > -->
<!--             <intent-filter > -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->
<!-- 		<activity android:name=".Utilities.UploadToDropBox" android:label="Upload to DropBox" /> -->
		<activity
			android:name="com.dropbox.client2.android.AuthActivity"
			android:launchMode="singleTask"
			android:configChanges="orientation|keyboard">
			<intent-filter>
				<data android:scheme="db-6c113yzcd8p714m" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
	    </activity>
	    <receiver android:enabled="true" android:name=".BootReceiver">  
	        <intent-filter>  
                <action android:name="android.intent.action.USER_PRESENT"/>  
                <category android:name="android.intent.category.DEFAULT" />  
	        </intent-filter>  
		</receiver> 
		<provider
		    android:authorities="com.gvccracing.android.tttimer.DataAccess.TTProvider"
		    android:multiprocess="true"
		    android:name=".DataAccess.TTProvider">
		</provider>
   </application>

</manifest>